USE [master]
GO
/****** Object:  Database [UnicamParadigmiWebApi]    Script Date: 13/05/2024 12:10:37 ******/
CREATE DATABASE [UnicamParadigmiWebApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UnicamParadigmiWebApi', FILENAME = N'D:\SqlServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\UnicamParadigmiWebApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UnicamParadigmiWebApi_log', FILENAME = N'D:\SqlServer\MSSQL16.MSSQLSERVER\MSSQL\DATA\UnicamParadigmiWebApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UnicamParadigmiWebApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UnicamParadigmiWebApi]
GO

/****** Object:  User [admin]    Script Date: 13/05/2024 12:10:38 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 13/05/2024 12:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaLibro]    Script Date: 13/05/2024 12:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaLibro](
	[categorieid] [int] NOT NULL,
	[libriid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categorieid] ASC,
	[libriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 13/05/2024 12:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Autore] [nvarchar](100) NULL,
	[Editore] [nvarchar](100) NULL,
	[dataPubblicazione] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utente]    Script Date: 13/05/2024 12:10:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](100) NULL,
	[cognome] [nchar](100) NULL,
	[email] [nchar](100) NULL,
	[password] [nchar](100) NULL,
 CONSTRAINT [PK_Utente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoriaLibro]  WITH CHECK ADD FOREIGN KEY([categorieid])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[CategoriaLibro]  WITH CHECK ADD FOREIGN KEY([libriid])
REFERENCES [dbo].[Libro] ([Id])
GO
ALTER TABLE [dbo].[CategoriaLibro]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaLibro_Libro] FOREIGN KEY([libriid])
REFERENCES [dbo].[Libro] ([Id])
GO
ALTER TABLE [dbo].[CategoriaLibro] CHECK CONSTRAINT [FK_CategoriaLibro_Libro]
GO
ALTER TABLE [dbo].[CategoriaLibro]  WITH CHECK ADD  CONSTRAINT [FK_LibroCategoria_Categoria] FOREIGN KEY([libriid])
REFERENCES [dbo].[Libro] ([Id])
GO
ALTER TABLE [dbo].[CategoriaLibro] CHECK CONSTRAINT [FK_LibroCategoria_Categoria]
GO
USE [master]
GO
